services:
  postgres:
    image: postgres:16-alpine
    container_name: aether_db
    environment:
      POSTGRES_USER: aether
      POSTGRES_PASSWORD: aetherpassword
      POSTGRES_DB: aether_core
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: aether_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
